:root {
  --scroll-color: rgb(75, 85, 99);
  --scroll-background: rgb(75, 85, 99);
  --scroll-track: #121b28;
  --selection-color: #ffffff;
  --selection-background: #b45309;
}

html,
body,
#__next,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(31, 41, 55);
}

::-moz-selection {
  color: var(--selection-color) !important;
  background-color: var(--selection-background) !important;
  background: var(--selection-background) !important;
}

::selection {
  color: var(--selection-color) !important;
  background-color: var(--selection-background) !important;
  background: var(--selection-background) !important;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-background);
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

@media screen and (max-width: 525px) {
  *::-webkit-scrollbar {
    display: none;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* custom */

.active-filter {
  opacity: 1;
}

.inactive-filter {
  opacity: 0.5;
}

.grid-cols {
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
  grid-auto-rows: 312px;
}

.max-h-grid {
  max-height: 100%;
}

@media (min-width: 1024px) {
  .max-h-grid {
    max-height: calc(100vh - 270px);
  }
}
